<!DOCTYPE html>
<html lang="en">

<head>
    <title>Find a job</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style media="screen">
        .layout-footer {
            padding: 10px;
        }

        .card-header {
            background-color: #eee;
        }

        .center-crop {
            object-fit: cover;
            height: 250px !important;
        }

    </style>
</head>

<body>
    <nav class="navbar ">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Job Finder
            </a>
        </div>
    </nav>

    {{{ body }}}

    <footer class="layout-footer">
        <a href="/api/employers">Employers API</a> |
        <a href="/api/applicants">Applicants API</a>
    </footer>
</body>

</html>
